POSTGRES_DB=sprintstart
POSTGRES_USER=sprintstart
POSTGRES_PASSWORD=change-me

LLM_BACKEND=ollama

OLLAMA_BASE_URL=http://host.docker.internal:11434
OLLAMA_MODEL=
OLLAMA_EMBED_MODEL=
OLLAMA_VISION_MODEL=

CHROMA_PATH=/app/data